<!DOCTYPE html>
<html lang="en">
<head>
    <title>АЛЬТЕРНАТИВА - автошкола СПб, курсы вождения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="index,all" name="robots"/>
    <meta name="Keywords"
          content="автошкола альтернатива, автошкола, автошкола спб, курсы вождения, сдать на права, обучение в автошколе, петергоф, красносе село, парнас, просвещение"/>
    <meta name="Description"
          content="Альтернатива - автошкола в СПб. Курсы вождения легкового автомобиля - высокое качество, оптимальные сроки, реальные цены."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="АЛЬТЕРНАТИВА Автошкола">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_responsive.css' %}">
    <script type="text/javascript" async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2PRGhX8JtUtV7hWqFQKO1tRykjTpdkKc"></script>


</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header d-flex flex-row">
        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                    <span><a id="logo-name" href="/">Альтернатива</a></span>
                </div>
            </div>

            <!-- Main Navigation -->
            <nav class="main_nav_container">
                <div class="main_nav">
                    <ul class="main_nav_list">
                        <li class="main_nav_item"><a href="/">О Нас</a></li>
                        <li class="main_nav_item"><a href="/classes">Филиалы</a></li>
                        <li class="main_nav_item"><a href="#course">Обучение</a></li>
                        <li class="main_nav_item"><a href="/news">Новости</a></li>
                        {#                        <li class="main_nav_item"><a href="elements.html">elements</a></li>#}
                        <li class="main_nav_item"><a href="/contacts">Контакты</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_side d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'images/phone-call.svg' %}" alt="">
            <span>+7 (812) 404-7000</span>
        </div>

        <!-- Hamburger -->
        <div class="hamburger_container">
            <i class="fas fa-bars trans_200"></i>
        </div>

    </header>

    <!-- Menu -->
    <div class="menu_container menu_mm">

        <!-- Menu Close Button -->
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>

        <!-- Menu Items -->
        <div class="menu_inner menu_mm">
            <div class="menu menu_mm">
                <ul class="menu_list menu_mm">
                    <li class="menu_item menu_mm"><a href="/">О нас</a></li>
                    <li class="menu_item menu_mm"><a href="/classes">Филиалы</a></li>
                    <li class="menu_item menu_mm"><a href="/#course">Обучение</a></li>
                    {#                    <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>#}
                    <li class="menu_item menu_mm"><a href="/news">Новости</a></li>
                    <li class="menu_item menu_mm"><a href="/contacts">Контакты</a></li>
                </ul>

                <!-- Menu Social -->

                <div class="menu_social_container menu_mm">
                    <ul class="menu_social menu_mm">
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

    <!-- Home -->

    <div class="home">

        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                {% for tags in taglines %}
                    <!-- Hero Slide -->
                    <div class="hero_slide">
                        <div class="hero_slide_background"
                             style="background-image:url( {{ tags.image.url }} )"></div>
                        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hero_slide_content text-center">
                                <h1 data-animation-in="fadeInUp"
                                    data-animation-out="animate-out fadeOut">{{ tags.phrase }} <span><a
                                        href="courses.html" style="color: white">{{ tags.tag }}</a></span>
                                    {{ tags.end_phrase }}</h1>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">Назад</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">Вперед</span></div>
        </div>

    </div>

    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <a href="#course">
                                <img src="{% static 'images/books.svg' %}" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Программы обучения</h2>
                                    <a href="#course" class="hero_box_link">Показать</a>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <a href="/teachers">
                                <img src="{% static 'images/professor.svg' %}" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Преподаватели</h2>
                                    <a href="/teachers" class="hero_box_link">Показать</a>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Popular -->

    <div class="popular page_section" id="course">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Программы</h1>
                    </div>
                </div>
            </div>

            <div class="row course_boxes">

                <!-- Popular Course Item -->
                {% for item in studying_program  %}
                    <div class="col-lg-6 course_box">
                        <div class="card">
                            <img class="card-img-top" src="{{ item.image.url }}">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="/classes/">{{ item.name }}</a></div>
                                <div class="card-text">{{ item.description |  default:""}}</div>
                            </div>
                            <div class="price_box d-flex flex-row align-items-center">
                                <div class="button button_1 register_button_curs "><a href="/classes/"
                                                                                      class="record">Записаться</a>
                                </div>
                                <div class="course_price d-flex flex-column align-items-center justify-content-center">
                                    <span>{{ item.price }} руб</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <!-- Register -->
    <!-- Services -->

    <div class="services page_section">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Об Автошколе</h1>
                    </div>
                </div>
            </div>

            <div class="row services_row">
                {% for info in information %}
                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="{{ info.icons.url }}" alt="">
                        </div>
                        <h3>{{ info.title }}</h3>
                        {{ info.text | safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="services page_section gray">
        <div class="testimonials_background_container prlx_parent">
            <div id="map"></div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Филиалы</h1>
                    </div>
                </div>
            </div>

            <div class="row services_row">
                {% for branch in branches %}
                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="border-top" style="margin-top: 45px">
                            <h3>{{ branch.name }}</h3>
                            <ul>
                                <li>{{ branch.address | default:'' }}</li>
                                <li><a href="tel://{{ branch.phone }}">{{ branch.phone }}</a></li>

                                </li>
                            </ul>
                            <div class="button button_1 register_button_branch mx-auto "><a
                                    href="/classes/{{ branch.url }}/">Записаться</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="testimonials page_section hidden">
        <div class="testimonials_background_container prlx_parent">
            <div class="testimonials_background prlx"
                 style="background-image:url( {% static 'images/testimonials_background.jpg' %})"></div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Отзывы</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="testimonials_slider_container">

                        <!-- Testimonials Slider -->
                        <div class="owl-carousel owl-theme testimonials_slider">

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum
                                        nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus
                                        tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                                        vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
                                        fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_name">james cooper</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Events -->

    <div class="events page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center" style="margin-bottom: 10px">
                        <h1>Мы Вконтакте</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 offset-3">
                    <script type="text/javascript" async defer src="https://vk.com/js/api/openapi.js?159"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 3, width: "600", color3: '000000'}, 9816344);
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="container">

            <!-- Footer Content -->

            <div class="footer_content">
                <div class="row">

                    <!-- Footer Column - About -->
                    <div class="col-lg-3 footer_col">

                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">
                                <img src="{% static 'images/logo.png' %}" alt="">
                                <span>Альтернатива</span>
                            </div>
                        </div>

                        <p class="footer_about_text">Мы делаем дорогу безопаснее</p>

                    </div>

                    <!-- Footer Column - Menu -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Меню</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="/">О нас</a></li>
                                <li class="footer_list_item"><a href="/classes">Филиалы</a></li>
                                <li class="footer_list_item"><a href="/#course">Обучение</a></li>
                                <li class="footer_list_item"><a href="/news">Новости</a></li>
                                <li class="footer_list_item"><a href="/contacts">Контакты</a></li>
                            </ul>
                        </div>
                    </div>


                    <!-- Footer Column - Contact -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Контакты</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="{% static 'images/placeholder.svg' %}"
                                             alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    Петродворцовый район, Санкт-Петербургский пр., д.60.

                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="{% static 'images/smartphone.svg' %}"
                                             alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    +7 (812) 404-7000
                                </li>
                                {#                                <li class="footer_contact_item">#}
                                {#                                    <div class="footer_contact_icon">#}
                                {#                                        <img src="{% static 'images/envelope.svg' %}"#}
                                {#                                             alt="https://www.flaticon.com/authors/lucy-g">#}
                                {#                                    </div>#}
                                {#                                    hello@404-7000.ru#}
                                {#                                </li>#}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Copyright -->

            <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                <div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> автошкола Альтернатива</span>
                </div>
                <div class="footer_social ml-sm-auto">
                    <ul class="menu_social">
                        <li class="menu_social_item"><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function () {
                            try {
                                w.yaCounter44311074 = new Ya.Metrika({
                                    id: 44311074,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true
                                });
                            } catch (e) {
                            }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () {
                                n.parentNode.insertBefore(s, n);
                            };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else {
                            f();
                        }
                    })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript>
                    <div><img src="https://mc.yandex.ru/watch/44311074" style="position:absolute; left:-9999px;"
                              alt=""/>
                    </div>
                </noscript>
                <!-- /Yandex.Metrika counter -->
            </div>
        </div>
    </footer>

</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>

</body>
</html>