<!DOCTYPE html>
<html lang="en">
<head>
    <title>АЛЬТЕРНАТИВА - автошкола СПб, курсы вождения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="index,all" name="robots"/>
    <meta name="Keywords"
          content="автошкола альтернатива, автошкола, автошкола спб, курсы вождения, сдать на права, обучение в автошколе, кировский район, петергоф, красносе"/>
    <meta name="Description"
          content="Альтернатива - автошкола в СПб. Курсы вождения легкового автомобиля - высокое качество, оптимальные сроки, реальные цены."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
    <script type="text/javascript" async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2PRGhX8JtUtV7hWqFQKO1tRykjTpdkKc"></script>


</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header d-flex flex-row">
        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                    <span><a id="logo-name" href="/">Альтернатива</a></span>
                </div>
            </div>

            <!-- Main Navigation -->
            <nav class="main_nav_container">
                <div class="main_nav">
                    <ul class="main_nav_list">
                        <li class="main_nav_item"><a href="/">О Нас</a></li>
                        <li class="main_nav_item"><a href="#">Филиалы</a></li>
                        <li class="main_nav_item"><a href="courses.html">Обучение</a></li>
                        <li class="main_nav_item"><a href="/news">Новости</a></li>
                        {#                        <li class="main_nav_item"><a href="elements.html">elements</a></li>#}
                        <li class="main_nav_item"><a href="contact.html">Контакты</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_side d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'images/phone-call.svg' %}" alt="">
            <span>+7 (812) 404-7000</span>
        </div>

        <!-- Hamburger -->
        <div class="hamburger_container">
            <i class="fas fa-bars trans_200"></i>
        </div>

    </header>

    <!-- Menu -->
    <div class="menu_container menu_mm">

        <!-- Menu Close Button -->
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>

        <!-- Menu Items -->
        <div class="menu_inner menu_mm">
            <div class="menu menu_mm">
                <ul class="menu_list menu_mm">
                    <li class="menu_item menu_mm"><a href="/">Автошкола</a></li>
                    <li class="menu_item menu_mm"><a href="#">О нас</a></li>
                    <li class="menu_item menu_mm"><a href="courses.html">Обучение</a></li>
                    {#                    <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>#}
                    <li class="menu_item menu_mm"><a href="/news">Новости</a></li>
                    <li class="menu_item menu_mm"><a href="contact.html">Контакты</a></li>
                </ul>

                <!-- Menu Social -->

                <div class="menu_social_container menu_mm">
                    <ul class="menu_social menu_mm">
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

    <!-- Home -->

    <div class="home">

        <!-- Hero Slider -->
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                {% for tags in taglines %}
                    <!-- Hero Slide -->
                    <div class="hero_slide">
                        <div class="hero_slide_background"
                             style="background-image:url( {{ tags.image.url }} )"></div>
                        <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hero_slide_content text-center">
                                <h1 data-animation-in="fadeInUp"
                                    data-animation-out="animate-out fadeOut">{{ tags.phrase }} <span><a
                                        href="courses.html" style="color: white">{{ tags.tag }}</a></span>
                                    {{ tags.end_phrase }}</h1>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">Назад</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">Вперед</span></div>
        </div>

    </div>

    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <a href="#course">
                                <img src="{% static 'images/books.svg' %}" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Программы обучения</h2>
                                    <a href="#course" class="hero_box_link">Показать</a>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <a href="#">
                                <img src="{% static 'images/professor.svg' %}" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Преподаватели</h2>
                                    <a href="teachers.html" class="hero_box_link">Показать</a>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Popular -->

    <div class="popular page_section" id="course">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Программы</h1>
                    </div>
                </div>
            </div>

            <div class="row course_boxes">

                <!-- Popular Course Item -->
                {% for item in price %}
                    <div class="col-lg-6 course_box">
                        <div class="card">
                            <img class="card-img-top" src="{{ item.image.url }}">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="courses.html">{{ item.name }}</a></div>
                                <div class="card-text">{{ item.description }}</div>
                            </div>
                            <div class="price_box d-flex flex-row align-items-center">
                                <div class="button button_1 register_button_curs "><a href="#"
                                                                                      class="record">Записаться</a>
                                </div>
                                <div class="course_price d-flex flex-column align-items-center justify-content-center">
                                    <span>{{ item.price }} руб</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <!-- Register -->
    <!-- Services -->

    <div class="services page_section">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>О Автошколе</h1>
                    </div>
                </div>
            </div>

            <div class="row services_row">

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-calendar-24.png' %}" alt="">
                    </div>
                    <h3>Удобный график обучения:</h3>
                    <ul>
                        <li>утренняя группа — с 10:00 до 12:00 два раза в неделю;</li>
                        <li>вечерняя группа — с 19:00 до 21:00 два раза в неделю;</li>
                        <li>группа выходного дня — с 10:00 до 14:00 один раз в неделю (суббота или воскресенье).</li>
                    </ul>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-graduation-cap-32.png' %}" alt="">
                    </div>
                    <h3>137 ЧАСОВ ТЕОРИИ</h3>
                    <p>В специально в подготовленных классах для успешного прохождения теоритического курса</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-sedan-50.png' %}" alt="">
                    </div>
                    <h3>56 ЧАСОВ</h3>
                    <p>Практических занятий на механике.<br> В результате, вы научитесь которых качественно
                        управлять ТС</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-sedan-24.png' %}" alt="">
                    </div>
                    <h3>54 ЧАСОВ</h3>
                    <p>Практических занятий на автомате. <br> Мы готовим водитлей к реальной дороги, <br> а не просто
                        сдавать экзамен в ГАИ</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-teacher-hiring-50.png' %}" alt="">
                    </div>
                    <h3>8 ИНСТРУКТОРОВ</h3>
                    <p>Опытные инструктора по вождению,<br> за плечами которых не один год стажа</p>
                </div>

                <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                    <div class="icon_container d-flex flex-column justify-content-end">
                        <img src="{% static 'images/icons8-class-32.png' %}" alt="">
                    </div>
                    <h3>Полная программа обучения</h3>
                    <p>Работаем в соответствии с Программой профессиональной подготовки водителей транспортных
                        средств.<br> Вам обеспечен полный курс теории и 56 часов вождения.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="services page_section gray">
        <div class="testimonials_background_container prlx_parent">
            <div id="map"></div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Филиалы</h1>
                    </div>
                </div>
            </div>

            <div class="row services_row">
                {% for branch in branches %}
                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="border-top">
                            <h3>{{ branch.name }}</h3>
                            <ul>
                                <li>{{ branch.address }}</li>
                                <li> {{ branch.description | default:'' }}
                                <li>{{ branch.phone }}</li>

                                </li>
                            </ul>
                            <div class="button button_1 register_button_branch mx-auto "><a href="#">Записаться</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="testimonials page_section">
        <!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
        <div class="testimonials_background_container prlx_parent">
            <div class="testimonials_background prlx"
                 style="background-image:url( {% static 'images/testimonials_background.jpg' %})"></div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Отзывы</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <div class="testimonials_slider_container">

                        <!-- Testimonials Slider -->
                        <div class="owl-carousel owl-theme testimonials_slider">

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum
                                        nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus
                                        tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                                        vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
                                        fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_name">james cooper</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum
                                        nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus
                                        tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                                        vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
                                        fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_name">james cooper</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonials Item -->
                            <div class="owl-item">
                                <div class="testimonials_item text-center">
                                    <div class="quote">“</div>
                                    <p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum
                                        nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus
                                        tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla,
                                        vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor
                                        fermentum.</p>
                                    <div class="testimonial_user">
                                        <div class="testimonial_name">james cooper</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Events -->

    <div class="events page_section">
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="section_title text-center">
                        <h1>Upcoming Events</h1>
                    </div>
                </div>
            </div>

            <div class="event_items">

                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">

                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>

                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Student Festival</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl
                                        ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="{% static 'images/event_1.jpg' %}"
                                         alt="https://unsplash.com/@theunsteady5">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">

                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>

                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Open day in the Univesrsity
                                        campus</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl
                                        ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="{% static 'images/event_2.jpg' %}"
                                         alt="https://unsplash.com/@claybanks1989">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Event Item -->
                <div class="row event_item">
                    <div class="col">
                        <div class="row d-flex flex-row align-items-end">

                            <div class="col-lg-2 order-lg-1 order-2">
                                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                    <div class="event_day">07</div>
                                    <div class="event_month">January</div>
                                </div>
                            </div>

                            <div class="col-lg-6 order-lg-2 order-3">
                                <div class="event_content">
                                    <div class="event_name"><a class="trans_200" href="#">Student Graduation
                                        Ceremony</a></div>
                                    <div class="event_location">Grand Central Park</div>
                                    <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl
                                        ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
                                </div>
                            </div>

                            <div class="col-lg-4 order-lg-3 order-1">
                                <div class="event_image">
                                    <img src="{% static 'images/event_3.jpg' %}"
                                         alt="https://unsplash.com/@juanmramosjr">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="container">

            <!-- Footer Content -->

            <div class="footer_content">
                <div class="row">

                    <!-- Footer Column - About -->
                    <div class="col-lg-3 footer_col">

                        <!-- Logo -->
                        <div class="logo_container">
                            <div class="logo">
                                <img src="{% static 'images/logo.png' %}" alt="">
                                <span>Альтернатива</span>
                            </div>
                        </div>

                        <p class="footer_about_text">Мы делаем дорогу безопаснее</p>

                    </div>

                    <!-- Footer Column - Menu -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Меню</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_list_item"><a href="#">Автошкола</a></li>
                                <li class="footer_list_item"><a href="#">О нас</a></li>
                                <li class="footer_list_item"><a href="courses.html">Обучение</a></li>
                                <li class="footer_list_item"><a href="/news">Новости</a></li>
                                <li class="footer_list_item"><a href="contact.html">Филиалы</a></li>
                            </ul>
                        </div>
                    </div>


                    <!-- Footer Column - Contact -->

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column_title">Контакты</div>
                        <div class="footer_column_content">
                            <ul>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="{% static 'images/placeholder.svg' %}"
                                             alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    Петродворцовый район, Санкт-Петербургский пр., д.60.

                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="{% static 'images/smartphone.svg' %}"
                                             alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    +7 (812) 404-7000
                                </li>
                                <li class="footer_contact_item">
                                    <div class="footer_contact_icon">
                                        <img src="{% static 'images/envelope.svg' %}"
                                             alt="https://www.flaticon.com/authors/lucy-g">
                                    </div>
                                    hello@404-7000.ru
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Copyright -->

            <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                <div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                                class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                  target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                </div>
                <div class="footer_social ml-sm-auto">
                    <ul class="menu_social">
                        <li class="menu_social_item"><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>

</body>
</html>