<!DOCTYPE html>
<html lang="en">
<head>
    <title>АЛЬТЕРНАТИВА - автошкола СПб, курсы вождения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="index,all" name="robots"/>
    <meta name="Keywords"
          content="автошкола альтернатива, автошкола, автошкола спб, курсы вождения, сдать на права, обучение в автошколе, петергоф, красносе село, парнас, просвещение"/>
    <meta name="Description"
          content="Альтернатива - автошкола в СПб. Курсы вождения легкового автомобиля - высокое качество, оптимальные сроки, реальные цены."/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Course Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teachers_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/teachers_responsive.css' %}">
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header d-flex flex-row">
        <div class="header_content d-flex flex-row align-items-center">
            <!-- Logo -->
            <div class="logo_container">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                    <span><a id="logo-name" href="/">Альтернатива</a></span>
                </div>
            </div>

            <!-- Main Navigation -->
            <nav class="main_nav_container">
                <div class="main_nav">
                    <ul class="main_nav_list">
                        <li class="main_nav_item"><a href="/">О Нас</a></li>
                        <li class="main_nav_item"><a href="/classes">Филиалы</a></li>
                        <li class="main_nav_item"><a href="#course">Обучение</a></li>
                        <li class="main_nav_item"><a href="/news">Новости</a></li>
                        {#                        <li class="main_nav_item"><a href="elements.html">elements</a></li>#}
                        <li class="main_nav_item"><a href="/#map">Контакты</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header_side d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'images/phone-call.svg' %}" alt="">
            <span>+7 (812) 404-7000</span>
        </div>

        <!-- Hamburger -->
        <div class="hamburger_container">
            <i class="fas fa-bars trans_200"></i>
        </div>

    </header>

    <!-- Menu -->
    <div class="menu_container menu_mm">

        <!-- Menu Close Button -->
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>

        <!-- Menu Items -->
        <div class="menu_inner menu_mm">
            <div class="menu menu_mm">
                <ul class="menu_list menu_mm">
                    <li class="menu_item menu_mm"><a href="/">О нас</a></li>
                    <li class="menu_item menu_mm"><a href="/classes">Филиалы</a></li>
                    <li class="menu_item menu_mm"><a href="/#course">Обучение</a></li>
                    {#                    <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>#}
                    <li class="menu_item menu_mm"><a href="/news">Новости</a></li>
                    <li class="menu_item menu_mm"><a href="/#map">Контакты</a></li>
                </ul>

                <!-- Menu Social -->

                <div class="menu_social_container menu_mm">
                    <ul class="menu_social menu_mm">
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>


    <!-- Menu Close Button -->
    <div class="menu_close_container">
        <div class="menu_close"></div>
    </div>

    <!-- Menu Items -->
    <div class="menu_inner menu_mm">
        <div class="menu menu_mm">
            <ul class="menu_list menu_mm">
                <li class="menu_item menu_mm"><a href="/">Автошкола</a></li>
                <li class="menu_item menu_mm"><a href="#">О нас</a></li>
                <li class="menu_item menu_mm"><a href="courses.html">Обучение</a></li>
                {#                    <li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>#}
                <li class="menu_item menu_mm"><a href="/news">Новости</a></li>
                <li class="menu_item menu_mm"><a href="contact.html">Контакты</a></li>
            </ul>

            <!-- Menu Social -->

            <div class="menu_social_container menu_mm">
                <ul class="menu_social menu_mm">
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-vk"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>

        </div>

    </div>

</div>


<!-- Home -->

<div class="home">
    <div class="home_background_container prlx_parent">
        <div class="home_background prlx"
             style="background-image:url({% static 'images/news_background.jpg' %})"></div>
    </div>
    <div class="home_content">
        <h1>Преподаватели</h1>
    </div>
</div>

<!-- Teachers -->

<div class="teachers page_section">
    <div class="container">
        <div class="row">

            <!-- Teacher -->
            {% for tech in teachers %}
                <div class="col-lg-4 teacher">
                    <div class="card">
                        <div class="card_img">
                            <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
                            <img class="card-img-top trans_200" src="{{ tech.avatar.url }}"
                                 height="385" width="290">
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title"><a href="#">{{ tech.full_name }}</a></div>
                            <div class="card-text">Автомобиль: {{ tech.car_model | default:"" }}</div>
                            {#                            <div class="teacher_social">#}
                            {#                                <ul class="menu_social">#}
                            {#                                    <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>#}
                            {#                                    <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>#}
                            {#                                    <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>#}
                            {#                                    <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
                            {#                                    <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>#}
                            {#                                </ul>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
</div>

<!-- Become -->

<div class="become">
    <div class="container">
        <div class="row row-eq-height">

            <div class="col-lg-7 order-2 order-lg-1">
                <div class="become_title">
                    <h1>Залог успешного обучения - предподователи</h1>
                </div>
                <p class="become_text">Основа любой автошколы - это ее предподователи-инструктора. Какими бы вы не
                    были, способными учениками, без хорошего инструктора освоить
                    ПДД и вождение автобомбиля, будет не так уж и просто. Поэтому в нашей автошколе мы собрали
                    только опытных высококвалифицированных специалистов своего дела, которые научат вас и помогут
                    чувствовать себя уверено за рулеом автомобиля</p>
                <div class="become_button text-center trans_200">
                    <p> Альтернатива - это Ваша уверенность за рулём.</p>
                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2">
                <div class="become_image">
                    <img src="{% static 'images/become.jpg' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->

<footer class="footer">
    <div class="container">

        <!-- Footer Content -->

        <div class="footer_content">
            <div class="row">

                <!-- Footer Column - About -->
                <div class="col-lg-3 footer_col">

                    <!-- Logo -->
                    <div class="logo_container">
                        <div class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                            <span>Альтернатива</span>
                        </div>
                    </div>

                    <p class="footer_about_text">Мы делаем дорогу безопаснее</p>

                </div>

                <!-- Footer Column - Menu -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Меню</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_list_item"><a href="/">О нас</a></li>
                            <li class="footer_list_item"><a href="/classes">Филиалы</a></li>
                            <li class="footer_list_item"><a href="/#course">Обучение</a></li>
                            <li class="footer_list_item"><a href="/news">Новости</a></li>
                            <li class="footer_list_item"><a href="/#map">Контакты</a></li>
                        </ul>
                    </div>
                </div>


                <!-- Footer Column - Contact -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Контакты</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="{% static 'images/placeholder.svg' %}"
                                         alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                Петродворцовый район, Санкт-Петербургский пр., д.60.

                            </li>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="{% static 'images/smartphone.svg' %}"
                                         alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                +7 (812) 404-7000
                            </li>
                            <li class="footer_contact_item">
                                <div class="footer_contact_icon">
                                    <img src="{% static 'images/envelope.svg' %}"
                                         alt="https://www.flaticon.com/authors/lucy-g">
                                </div>
                                hello@404-7000.ru
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Copyright -->

        <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
            <div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> автошкола Альтернатива</span>
            </div>
            <div class="footer_social ml-sm-auto">
                <ul class="menu_social">
                    <li class="menu_social_item"><a href="#"><i class="fab fa-vk"></i></a></li>
                    <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter44311074 = new Ya.Metrika({
                                id: 44311074,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) {
                        }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () {
                            n.parentNode.insertBefore(s, n);
                        };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else {
                        f();
                    }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div><img src="https://mc.yandex.ru/watch/44311074" style="position:absolute; left:-9999px;"
                          alt=""/>
                </div>
            </noscript>
            <!-- /Yandex.Metrika counter -->
        </div>
    </div>
</footer>

</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/teachers_custom.js' %}"></script>

</body>
</html>